# Project: A Mixed-Integer Optimization Approach for Finite 2D Tiling Problems
# ---------------------------------------------------------------------------

# MATLAB Version
# Recommended: R2023b (or later)

# Required Toolboxes
Optimization Toolbox
Global Optimization Toolbox
Image Processing Toolbox

# Required Third-Party Solvers
Gurobi Optimizer Version 12.03

# Gurobi License Information: https://www.gurobi.com/academics
