(1) Gurobi Version 12.03. See info on academic licenses at https://www.gurobi.com/academics.

(2) MATLAB version we used in our benchmarks:

-----------------------------------------------------------------------------------------------------
MATLAB Version: 23.2.0.2380103 (R2023b) Update 1
MATLAB License Number: 40558511
Operating System: Microsoft Windows 11 Pro Version 10.0 (Build 26200)
Java Version: Java 1.8.0_202-b08 with Oracle Corporation Java HotSpot(TM) 64-Bit Server VM mixed mode
-----------------------------------------------------------------------------------------------------
MATLAB                                                Version 23.2        (R2023b)
Simulink                                              Version 23.2        (R2023b)
Antenna Toolbox                                       Version 23.2        (R2023b)
Audio Toolbox                                         Version 23.2        (R2023b)
Automated Driving Toolbox                             Version 23.2        (R2023b)
Bioinformatics Toolbox                                Version 23.2        (R2023b)
Bluetooth Toolbox                                     Version 23.2        (R2023b)
Communications Toolbox                                Version 23.2        (R2023b)
Computer Vision Toolbox                               Version 23.2        (R2023b)
Control System Toolbox                                Version 23.2        (R2023b)
Curve Fitting Toolbox                                 Version 23.2        (R2023b)
DDS Blockset                                          Version 23.2        (R2023b)
DSP HDL Toolbox                                       Version 23.2        (R2023b)
DSP System Toolbox                                    Version 23.2        (R2023b)
Data Acquisition Toolbox                              Version 23.2        (R2023b)
Database Toolbox                                      Version 23.2        (R2023b)
Datafeed Toolbox                                      Version 23.2        (R2023b)
Deep Learning HDL Toolbox                             Version 23.2        (R2023b)
Deep Learning Toolbox                                 Version 23.2        (R2023b)
Econometrics Toolbox                                  Version 23.2        (R2023b)
Embedded Coder                                        Version 23.2        (R2023b)
Filter Design HDL Coder                               Version 23.2        (R2023b)
Financial Instruments Toolbox                         Version 23.2        (R2023b)
Financial Toolbox                                     Version 23.2        (R2023b)
Fixed-Point Designer                                  Version 23.2        (R2023b)
Fuzzy Logic Toolbox                                   Version 23.2        (R2023b)
Global Optimization Toolbox                           Version 23.2        (R2023b)
Image Acquisition Toolbox                             Version 23.2        (R2023b)
Image Processing Toolbox                              Version 23.2        (R2023b)
LTE Toolbox                                           Version 23.2        (R2023b)
Lidar Toolbox                                         Version 23.2        (R2023b)
MATLAB Coder                                          Version 23.2        (R2023b)
MATLAB Compiler                                       Version 23.2        (R2023b)
MATLAB Compiler SDK                                   Version 23.2        (R2023b)
MATLAB Report Generator                               Version 23.2        (R2023b)
MATLAB Test                                           Version 23.2        (R2023b)
Mapping Toolbox                                       Version 23.2        (R2023b)
Medical Imaging Toolbox                               Version 23.2        (R2023b)
Model Predictive Control Toolbox                      Version 23.2        (R2023b)
Model-Based Calibration Toolbox                       Version 23.2        (R2023b)
Navigation Toolbox                                    Version 23.2        (R2023b)
Optimization Toolbox                                  Version 23.2        (R2023b)
Parallel Computing Toolbox                            Version 23.2        (R2023b)
Partial Differential Equation Toolbox                 Version 23.2        (R2023b)
Phased Array System Toolbox                           Version 23.2        (R2023b)
Predictive Maintenance Toolbox                        Version 23.2        (R2023b)
RF Blockset                                           Version 23.2        (R2023b)
RF Toolbox                                            Version 23.2        (R2023b)
ROS Toolbox                                           Version 23.2        (R2023b)
Radar Toolbox                                         Version 23.2        (R2023b)
Reinforcement Learning Toolbox                        Version 23.2        (R2023b)
Requirements Toolbox                                  Version 23.2        (R2023b)
Risk Management Toolbox                               Version 23.2        (R2023b)
Robotics System Toolbox                               Version 23.2        (R2023b)
Robust Control Toolbox                                Version 23.2        (R2023b)
Satellite Communications Toolbox                      Version 23.2        (R2023b)
Sensor Fusion and Tracking Toolbox                    Version 23.2        (R2023b)
Signal Integrity Toolbox                              Version 23.2        (R2023b)
Signal Processing Toolbox                             Version 23.2        (R2023b)
Simulink 3D Animation                                 Version 23.2        (R2023b)
Simulink Check                                        Version 23.2        (R2023b)
Simulink Code Inspector                               Version 23.2        (R2023b)
Simulink Coder                                        Version 23.2        (R2023b)
Simulink Compiler                                     Version 23.2        (R2023b)
Simulink Control Design                               Version 23.2        (R2023b)
Simulink Coverage                                     Version 23.2        (R2023b)
Simulink Design Optimization                          Version 23.2        (R2023b)
Simulink Design Verifier                              Version 23.2        (R2023b)
Simulink Desktop Real-Time                            Version 23.2        (R2023b)
Simulink Fault Analyzer                               Version 23.2        (R2023b)
Simulink PLC Coder                                    Version 23.2        (R2023b)
Simulink Real-Time                                    Version 23.2        (R2023b)
Simulink Report Generator                             Version 23.2        (R2023b)
Simulink Test                                         Version 23.2        (R2023b)
Statistics and Machine Learning Toolbox               Version 23.2        (R2023b)
Symbolic Math Toolbox                                 Version 23.2        (R2023b)
System Composer                                       Version 23.2        (R2023b)
System Identification Toolbox                         Version 23.2        (R2023b)
Text Analytics Toolbox                                Version 23.2        (R2023b)
UAV Toolbox                                           Version 23.2        (R2023b)
Vehicle Dynamics Blockset                             Version 23.2        (R2023b)
Vehicle Network Toolbox                               Version 23.2        (R2023b)
Vision HDL Toolbox                                    Version 23.2        (R2023b)
WLAN Toolbox                                          Version 23.2        (R2023b)
Wavelet Toolbox                                       Version 23.2        (R2023b)
Wireless HDL Toolbox                                  Version 23.2        (R2023b)
Wireless Testbench                                    Version 23.2        (R2023b)